:root {

  --clr-accent: 26 100% 55%;
  --clr-accent-light: 25 100% 71%;
  --clr-black: 0 0% 0%;
  --clr-dark: 220 13% 13%;
  --clr-gray: 219 9% 45%;
  --clr-light-gray: 220 14% 75%;
  --clr-light: 223 64% 98%;
  --clr-white: 0 0% 100%;

  --ff-primary: "Kumbh Sans", sans-serif;

  --fs-xs: 12px;
  --fs-small: 15px;
  --fs-body: 16px;
  --fs-mid: 18px;
  --fs-large: 28px;
  --fs-xl: 48px;

  --fw-light: 300;
  --fw-reg: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --letter-spacing-small: 1.85px;
  --line-height-p: 25px;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: .75rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
position: absolute; 
width: 1px;
height: 1px;
padding: 0;
margin: -1px; 
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap; /* added line */
border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl( var(--clr-white) );
  color: hsl( var(--clr-dark) );
  padding: .5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */

.bg-accent { background-color: hsl( var(--clr-accent) ); }
.bg-dark { background-color: hsl( var(--clr-dark) ); }
.bg-light { background-color: hsl( var(--clr-light) ); }
.bg-white { background-color: hsl( var(--clr-white) ); }

.text-dark { color: hsl( var(--clr-dark) ); }
.text-gray { color: hsl( var(--clr-gray) ); }
.text-white { color: hsl( var(--clr-white) ); }

.fs-xs { font-size: var(--fs-xs);}
.fs-small { font-size: var(--fs-small); }
.fs-body { font-size: var(--fs-body); }
.fs-mid { font-size: var(--fs-mid); }
.fs-large { font-size: var(--fs-large); }
.fs-xl { font-size: var(--fs-xl); }

.fw-light { font-weight: var(--fw-light); }
.fw-reg { font-weight: var(--fw-reg); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-bold { font-weight: var(--fw-bold); }

.letter-spacing-small { letter-spacing: var(--letter-spacing-small);}
.line-height-p { line-height: var(--line-height-p); }

.uppercase { text-transform: uppercase; }

.button { cursor: pointer; }

.svg { cursor: pointer; }
.hidden {display: none;}

body {
  font-family: var(--ff-primary);
}

.home {
  margin: auto;
  max-width: 1110px;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl( var(--clr-white) );
    color: hsl( var(--clr-dark) );
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}

li {
  list-style: none;
  margin-inline: 1em;
}

.header {
  margin: 1.125rem 1em;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem)
}

.header__link {
  text-decoration: none;
  color: hsl(var(--clr-dark));
  font-weight: var(--fw-bold);
  font-size: var(--fs-mid);
  line-height: 26px;
}

.header__left {
  align-items: center;
}

.header__icons {
  align-items: center;
  margin-inline: 0.25em;
}

.header__icon {
  cursor: pointer;
}

.header__icon--shopping-cart {
  width: 21.82px;
  height: 20px;
  border-radius: 0;
}

.header__icon--avatar {
  width: 24px;
  height: 24px;
}

.header__icon--cart {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.cart-count {
  position: absolute;
  width: 19px;
  height: 13px;
  background: hsl( var(--clr-accent) );
  color: hsl( var(--clr-white) );
  font-size: var(--fs-xs);
  font-weight: var(--fw-bold);
  text-align: center;
  line-height: 13px;
  top: -5px;
  right: -5px;
  border-radius: 10px;
}

.mobile-nav-toggle {
  display: block;
  /* position: absolute; */
  z-index: 2000;
  /* left: 1rem; */
  /* top: 2rem; */
  background: transparent;
  background-image: url(./images/icon-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  aspect-ratio: 1;
  border: 0;
}

.mobile-nav-toggle[aria-expanded='true'] {
  background-image: url(./images/icon-close.svg);
}

.main__item-details {
  margin: 1em;
}

.main__item-details > * {
  margin-block-start: 0.75em;
}

.main__item-details--price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__item-details--discount {
  padding: .08em .75em 0em .75em;
  border-radius: 10px;
  margin-inline-end: 5em;
  align-self: flex-start;
}

.main__item-details--original-price {
  align-self: flex-start;
  color: hsl( var(--clr-gray) );
  font-weight: var(--fw-bold);
  text-decoration:line-through;
}

.main__button {
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main__thumbnails {
  display: none;
}

.main__imgs {
  position: relative;
}

.cart {
  display: none;
}

.cart[data-visible='true'] {
  display: block;
  position: absolute;
  background-color: hsl( var(--clr-white) );
  border-radius: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 30px;
  width: 95%;
  height: 85%;
  margin: auto;
}

.cart__title {
  padding: 1.25em 0 1.25em 1.25em;
  border-bottom: 1px solid #E4E9F2;
}

.cart__body {
  text-align: center;
  margin-block: 5em;
}

@media (max-width: 800px) {
  .main__imgs-primary {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .primary-nav[data-visible='false'] {
    display: none;
  }
  
  .primary-nav[data-visible='true'] {
    background-color: hsl( var(--clr-white) );
    position: fixed;
    z-index: 1000;
    inset: 0 30% 0 0;
    list-style: none;
    padding: min(20rem, 15vh) 0rem;
    margin: 0;
    flex-direction: column;
    transition: transform 500ms ease-in-out;
    box-shadow: 16em 0 0px hsl(var(--clr-black) / .75);
  }
  
  .primary-nav[data-visible='true'] {
    transform: translate(X)
  }
}

.main__imgs-mobile-arrow-icon {
  cursor: pointer;
  position: absolute;
  top: 130px;
  background:hsl( var(--clr-white) );
  border-radius: 50%;
  padding: 0.7em 0.85em;
  aspect-ratio: 1 / 1;
}

.main__imgs-mobile-arrow-icon-previous {
  left: 10px;
}

.main__imgs-mobile-arrow-icon-next {
  right: 10px;
}

.main__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-inline: 0;
  padding-block: 1.35em;
  border-radius: 10px;
  border: none;
  background-color: hsl( var(--clr-accent) );
  /* box-shadow: none; */
}

.main__button:hover {
  background-color: hsl( var(--clr-accent-light) );
}

.main__item-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 0;
  margin-block-end: 1em;
  padding: 1em 1.35em;
  background-color: hsl( var(--clr-light) );
  width: 100%;
  /* border: 2px solid red; */
  border-radius: 10px;
}

@media (min-width: 800px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5em;
  }
  
  .main > * {
    margin: 1.5em;
  }

  .main__item-details {
    max-width: 445px;
    margin-inline: 0;
  }

  .main__item-description {
    font-size: var(--fs-body);
  }

  .main__item-details--price {
    flex-flow: row wrap;
  }

  .main__item-details--discount {
    align-self: center;
    margin-inline-end: 16em;
  }

  .main__item-details--original-price {
    flex-grow: 0;
    flex-basis: 50%;
  }

  .main__item-amount {
    width: 50%;
    margin-block-end: 0;
  }

  .main__imgs-primary {
    max-width: 445px;
    /* height: 300px; */
    object-fit: cover;
    border-radius: 15px;
  }

  .main__imgs-mobile-arrow-icon {
    display: none;
  }

  .header {
    border-bottom: 1px solid hsl( var(--clr-light-gray) );
    padding-block-end: 2em;
  }

  .header__link:hover {
    border-bottom: 4px solid hsl( var(--clr-accent) );
    padding-block-end: 2.9em;
  }

  .header__icon--avatar {
    width: 50px;
    height: 50px;
  }

  .header__icon--avatar:hover {
    border: 2px solid hsl( var(--clr-accent) );
    border-radius: 50%;
  }

  .mobile-nav-toggle {
    display: none;
  }
  
  .main__thumbnails {
    display: flex;
    margin-block: 2em;
    justify-content: space-between;
  }

  .main__thumbnails--border {
    /* background: hsl( var(--clr-accent) ); */
  }
  
  .main__thumbnail {
    cursor: pointer;
    max-width: 88px;
    max-height: 88px;
    border-radius: 10px;
  }
  
  .main__thumbnails--border[data-active='true'] {
    border-radius: 10px;
    border: 2px solid hsl( var(--clr-accent) );

  }

  .main__thumbnails--border[data-active='true'] > img {
    opacity: 0.25;
  }

  .main__thumbnails--border[data-active='false'] > .main__thumbnail:hover {
    opacity: 0.5;
  }

  .primary-nav {
    display: flex;
  }

  .header__link {
    font-size: var(--fs-small);
    font-weight: var(--fw-light);
    color: hsl(var(--clr-gray));
  }

  .header__link:hover {
    color: hsl( var(--clr-dark) );
  }

  .h1 {
    font-size: var(--fs-xl);
  }

  .svg-plus:hover,
  .svg-minus:hover {
    color: hsl( var(--clr-accent-light) );
  }

  .main__item--buttons {
    display: flex;
    gap: 20px;
  }
}