:root {

  --clr-accent: 26 100% 55%;
  --clr-accent-light: 25 100% 94%;
  --clr-black: 0 0% 0%
  --clr-dark: 220 13% 13%;
  --clr-gray: 219 9% 45%;
  --clr-light-gray: 220 14% 75%;
  --clr-light: 223 64% 98%;
  --clr-white: 0 0% 100%;

  --ff-primary: sans-serif;

  --fw-light: 400;
  --fw-bold: 700;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* utility classes */
.uppercase { text-transform: uppercase;}
.hidden { display: none; }
.flex { display: flex; }

body {
  font-family: var(--ff-primary);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: hsl(var(--clr-gray));
}

.header {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  align-items: center;
}

.header__icons {
  align-items: center;
}

.header__icon--shopping-cart {
  width: 21.82px;
  height: 20px;
}

.header__icon--avatar {
  width: 50px;
  height: 50px;
}